@font-face {
	font-family: 'Noto IKEA Latin';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./lib/assets/fonts/Noto-IKEA-Latin-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'Noto IKEA Latin';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./lib/assets/fonts/Noto-IKEA-Latin-Bold.woff2) format('woff2');
}
@font-face {
	font-family: 'Covered By Your Grace';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./lib/assets/fonts/coveredbyyourgrace.woff2) format('woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@media (max-width: 400px) {
		html {
			font-size: 4vw;
		}
	}
	html {
		@apply scroll-smooth antialiased;
	}
}

@layer components {
}

@layer utilities {
	.bg-header {
		background-image: url(./lib/assets/images/bg-header.png);
	}
	.bg-footer {
		position: relative;
		background-image: url(./lib/assets/images/banner-01.jpg);
		background-size: cover; /* Asegúrate de que la imagen cubra el div */
	}

	.bg-footer::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.5); /* Negro con opacidad, ajusta el 0.5 según sea necesario */
		z-index: 1; /* Sitúa el pseudo-elemento sobre la imagen de fondo pero debajo del contenido */
	}

	/* Asegúrate de que el contenido del .bg-footer esté por encima del pseudo-elemento */
	.bg-footer > * {
		position: relative;
		z-index: 2;
	}

	.bg-divider {
		background-image: url(./lib/assets/images/bg-divider.png);
	}
	.bg-hero {
		background-image: url(./lib/assets/images/bg-hero.gif);
	}
	.bg-blue {
		background-image: url(./lib/assets/images/bg-blue.jpg);
	}
}
